@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div>Change to be verified on staging</div>
        <h1 class="display-4">Welcome Sonali : My first build.</h1>
    </div>
