@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div>@System.Configuration.ConfigurationManager.AppSettings["myKey"]</div>
        <h1 class="display-4">Welcome Sonali : My first build.</h1>
    </div>
